<!doctype html>
<title>Hello World</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Hello World</h1>
    <div>
        <h3>I exist!</h3>
        <p>My IP address is <%= @ipaddress %></p>
        <p>My name is <%= @fqdn %></p>
        <p>I have been awake for <%= @uptime %></p>
      </div>
</article>
